.grid-pics {
  display: grid; 
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  /* transform: rotate(0deg); */
 margin-top: 13px; 
  max-width:70%;
  max-height: 70%;
  /* padding-left: 30%;  */
  align-self: center;

}

.titre{
    font-size: 2em;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
}
.para{
    font-size: 1em;
    font-weight: 400;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;

}
section{
    padding: 20px;
}
.hero{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
